@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vind&commat;</h1>
</div>

<br />
<div class="text-center">
    <h4>Licenciatura em Engenharia Informática</h4>
    <h4>Cadeira de Desenvolvimento Web</h4>
    <h4>Ano Letivo 20222/2023</h4>
    <br />
    <p>Desenvolvido pelos alunos 20945 e 20948, respectivamente, Ana Grácio e Daniel Graça.</p>
</div>
<br />
<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Credenciais do Super Administrador</h5>
    <p class="card-text">joca@occurrence.io</p>
    <p class="card-text">d1sIsG0dM0d3!</p>
  </div>
</div>